@font-face {
    font-family: 'necleo';
    src: url('/www/fonts/nucleo.woff') format('woff');
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

footer {
	position : absolute;
	bottom : 0;
	left: 50%;
    transform: translate(-50%, 0%);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border: navajowhite;
  background: linear-gradient(#1e2024, #212529);
  opacity: initial;
}

.form-Style{
  display:flex;
  background: #212529;
  margin-top: 10px;
}
.form-Css{
  position: relative;
  border: 2px solid #131313;
  background: linear-gradient(#1e2024, #18181c);
  border-radius: 4px;
  overflow: hidden;
}

.form-control{
  width: 400px;
  outline: none;
  background: transparent;
  border: navajowhite;
  padding: 12px 15px;
  padding-right: 50px;
  color: #fff;
  font-size: 18px; 
}
.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
