/* 메인 상점 페이지 게임 목록 */
.store-games {
	margin: 0px 200px 30px;
	display: flex;
	flex-direction: column;
}
.games-sort {
	display: flex;
	justify-content: end;
	align-items: center;
	margin-bottom: 10px;
}
.games-sort label {
	margin-right: 10px;
}
.games-sort .form-control.store-select {
	width: 130px;
	height: 35px;
}
.store-select option {
	color: #6c757d;
}

/* 게임 목록 */
.store-games--games {
	display: flex;
	justify-content: space-between;
}
/* 게임 목록의 게임 타이틀 */
.store-games--games .games {
	display: flex;
	flex-direction: column;
}
.store-games--games .games .game:hover {
	background: none;
}
.store-games--games .games .card {
	padding: 5px;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	cursor: pointer;
}
.store-games--games .games img {
	border: 1px solid #525f7f;
	margin-right: 10px;
}
.store-games--games .games .card > div {
	padding-top: 5px;
	display: flex;
}
.store-games--games .games .card h4 {
	font-size: 14px;
	margin: 0;
	width: 320px;
}
.store-games--games .game-title-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 140px;
}
.store-games--games .game-title-info .whenGame {
	font-size: 12px;
}
/* 평점 컬러 */
.store-games--games .game-title-info .positive {
	background: #17a2b8;
}
.store-games--games .game-title-info .mixed {
	background: #ffc107;
}
.store-games--games .game-title-info .negative {
	background: #fd5d93;
}

.store-games--games .game-title-info i,
.store-games--games .gameDiscount .howSale {
	color: white;
	padding: 2px;
	border-radius: 10%;
}
.store-games--games .gameDiscount .howSale {
	background-color: #28a745;
	margin-right: 15px;
}
.store-games--games .gameDiscount {
	width: 180px;
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 0px 20px;
}
.store-games--games .gamePrice {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
}
.store-games--games .salePrice {
	color: white;
}
/* 게임 필터 */
.games-filter {
	width: 320px;
}
/* 가격 필터 */
.priceFilter {
	height: 180px;
}
.priceFilter.card {
	position: sticky;
	top: 0;
	height: 180px;
}
.priceFilter .card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#range {
	-webkit-appearance: none;
	width: 250px;
	height: 5px;
	border-radius: 2px;
	background: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
	outline: none;
}
#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    border-radius: 2px;
    background: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    cursor: pointer;
}
#range::-moz-range-thumb {
    width: 10px;
    height: 20px;
    border-radius: 2px;
    background: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    cursor: pointer;
}
.games-filter--range {
	margin: 10px 0px;
}
.boundary {
	width: 100%;
	height: 1px;
	border-radius: 10%;
	background-color: #ba54f5;
	margin-bottom: 20px;
}
.priceFilter .form-check {
	display: flex;
	flex-direction: column;
}
.priceFilter label {
	margin-bottom: 200px;
	font-size: 13px;
	display: flex;
	align-items: center;
}